<footer>
    <div class="footer-wrap">
        <div class="container first_class">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="col-md-4 col-sm-6 d-flex"> 
                        <div class="footer-logo"><img src="../img/logo_ispt.gif" alt="logo" height="25">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <form class="newsletter">
                        <input type="text" placeholder="Email Address">
                        <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="col-md-12">
                        <div class="standard_social_links">
                            <div>
                                <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>

                                </li>
                                <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in"
                                            aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter"
                                            aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram"
                                            aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp"
                                            aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope"
                                            aria-hidden="true"></i></a>

                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second_class">
            <div class="container second_class_bdr">
                <div class="row">
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="copyright"> Copyright 2019 | Tout Droits Réservés par NakAgroLab</div>
        </div>
    </div>

</footer>